body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 80px;
}
.container{
    max-width: 1440px;
    max-width: 90%;
    margin: auto;
    padding: 0 16px;
}


ul{
    margin: 0;
    padding: 0;
}
header{
    background-color: white;
    height: 80px;
    box-shadow: 5px 10px 18px #888888;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

}

header .logo{
    display: inline-block;
    font-size: 30px;
}
header .logo .bluedot{
    background-color: blue;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius:  6px;

}


header nav{
    display: inline-block;
}
header nav ul li{
    display: inline-block;
}
header nav ul li.menu-icon{
    display: none;
}

header nav ul li.menu-icon img{
    vertical-align: middle;
    height: 40px;
}

header nav ul li a{
    color: black;
    font-size: 15px;
    letter-spacing: 0.37px;
    margin-right: 20px;
    text-decoration: none;
}
header nav ul li a:hover{
    color: blue;

}
section.wallpaper{
    position: relative;
    
}
section.wallpaper img{
    width: 100%;
    height: auto;
}
.wallpaper-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
}
.wallpaper-content .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.wallpaper-content p{
    padding-left: 50px;
    max-width: 495px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 16px;
}
.wallpaper-content h1{
    padding-left: 50px;
    max-width: 495px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    line-height: 28px;
    font-size: 20px;
}
.wallpaper-content button{
    height: 50px;
    width: 220px;
    border-radius: 92px;
    background-color: blue;
    color: aliceblue;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin-left: 90px;
    border: none;
    text-transform: uppercase;
}
.wallpaper-content button:hover{
    color:blue;
    background-color: white;
}
section.best-seller hr{
    border: none;
    border-top: 5px solid green;
    width: 66px;
}
section.best-seller h2{
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.85px;
    line-height: 42px;
    font-weight: normal;

}
section.best-seller .product-slider{
    margin-top: 76px;
   
}
section.best-seller .container{
    display: flex;
    justify-content: space-around;
}

section.best-seller .product-slider .product{
    border-radius: 8px;
    border: 2px solid whitesmoke;
    text-align: center;
    margin: 0 8px;
    padding: 50px;
}
section.best-seller .product-slider .product.new::before{
    content: "New";
    background-color: red;
    color: white;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.35px;
    padding: 7px;
    border-radius: 40px;
    margin-left: 350px;
    
}
section.best-seller .product-slider .product-info{
    font-size: 20px;
    margin-top: 50px;
}
section.best-seller .product-slider .product-info .title{
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 26px;
}
section.best-seller .product-slider .product-info .price{
    font-size: 28px;
    font-weight: 700;
    line-height: 0.7px;
    line-height: 30px;
    margin-bottom: 16px;

}
section.best-seller .product-slider .product-info .price .discount{
    color: red;
}
section.best-seller .product-slider .product-info .price .ogprice{
    color: gray;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 30px;
    text-decoration: line-through;

}
section.best-seller .product-slider .product-info button{
    height: 50px;
    width: 200px;
    border-radius: 220px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 24px;
}
section.newsletter{
    background-color: lightgray;
    max-width: 955px;
    text-align: center;
    padding: 72px 0;
    margin: 80px auto;
}
section.newsletter h3{
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 42px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 10px;
}
section.newsletter p{
    font-size: 20px;
    letter-spacing: 0.6px;
    line-height: 42px;
    font-weight: normal;
}
section.newsletter form{
    display: flex;
    justify-content: center;
    
}
section.newsletter form input{
    height: 50px;
    width: 326px;
    max-width: 80%;
    border-radius:  170px 0 0 170px;
    box-sizing: border-box;
    
}
section.newsletter button{
   height: 50px;
   width: 145px;
   max-width: 20%;
   border-radius: 0 170px 170px 0;
   box-sizing: border-box;
   background-color: blue;
   border: 1px solid blue;
   text-transform: uppercase;

}
footer .bottomnav{
padding: 60px 0;
background-color: #888888;

}
footer .bottomnav .container{
    max-width: 955px;
    display: flex;
    justify-content: space-between;
    background-color: #888888;
}
footer .bottomnav .list{
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0.5px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;

}
footer .bottomnav ul li a{
    color:aliceblue;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 22px;
    text-decoration: none;
    display: block;

}
footer .bottomnav ul{
    list-style: none;

}
footer .copyright{
    color: white;
    background-color: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 22px;
}

/* CSS Media Queries */
/*Start of Design for small Desktop */
@media screen and (max-width: 1440px){
    .container {
        width: 1440px;
    }

    
header{
        height: 70px;

    }
    
    section.wallpaper img{
        width: 100%;
        height: auto;
    }

    .wallpaper-content p{
        padding-left: 50px;
        max-width: 495px;
        margin-bottom: 16px;
    }
    .wallpaper-content h1{
        letter-spacing: 1.5px;
        line-height: 50px;
        font-size: 44px;
        margin-bottom: 12px;
    }
    .wallpaper-content button{
        font-size: 16px;
        line-height: 24px;
        margin-left: 90px;
    }
    section.best-sellers {
        padding-top: 70px;
    }
    
    section.best-sellers h2 {
        line-height: 38px;
        margin: 0 0 16px 0;
    }

    section.best-sellers .product-slider {
        margin-top: 70px;
    }
    
    
    section.best-sellers .product-slider .product .product-info .categories {
        font-size: 12px;
        letter-spacing: 0.3px;
        line-height: 30px;

    }
    
    section.best-sellers .product-slider .product .product-info .title {
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 26px;
        
    }
    
    section.best-seller .product-slider .product .product-info .price {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.6px;
        margin-bottom: 12px;
    }
    
    section.best-seller .product-slider .product .product-info .price .original-price {
        font-size: 14px;
        letter-spacing: 0.35px;
        line-height: 30px;
        display: block;
        line-height: 16px;
    }
    
    section.best-seller .product-slider .product .product-info button {
        height: 40px;
        width: 180px;
        letter-spacing: 0.35px;
        line-height: 21px;
    }
    section.newsletter {
        width: 100%;
        max-width: 100%;
        padding: 50px 0;
        margin: 50px auto;
    }
    
    section.newsletter h3 {
        font-size: 22px;
        letter-spacing: 0.55px;
        line-height: 42px;
    }
    
    section.newsletter p {
        font-size: 14px;
        letter-spacing: 0.35px;
        line-height: 42px;
    }

    footer .bottomnav {
        padding: 50px 0;
    }
    
    footer .bottomnav .container {
        max-width: 90%;
    }

}

/*Start of Design for Tablets*/
@media screen and (max-width: 960px){
    .container{
        max-width: 92%;
    }
    header .logo{
        font-size: 24px;
    }
    header nav ul li{
        display: none;
    }
    header nav ul li.menu-icon{
        display: inline-block;
    }
    section.wallpaper img{
        width: 100%;
        height: auto;
    }
    .wallpaper-content p{
        padding-left: 50px;
        letter-spacing: 0.4px;
    }
    .wallpaper-content h1{
        letter-spacing: 1.5px;
        line-height: 50px;
        font-size: 44px;
    }
    .wallpaper-content button{
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.35px;
    }
    section.best-sellers {
        padding-top: 50px;
    }
    
    section.best-sellers h2 {
        font-size: 28px;
        letter-spacing: 0.7px;
        line-height: 38px;
        margin: 0 0 12px 0;
    }

    section.best-seller .product-slider {
        margin-top: 48px;
    }

    section.best-seller .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    section.best-seller .product-slider .product {
        min-width: 220px; 
        margin: 17px 8px;
        
    }

    section.best-seller .product-slider .product .product-info .categories {
        font-size: 12px;
        letter-spacing: 0.3px;
        line-height: 30px;
        margin-bottom: 5px;
    }
    
    section.best-seller .product-slider .product .product-info .title {
        font-size: 13px;
        letter-spacing: 0.5px;
        line-height: 18px;
        margin-bottom: 8px;
    }
    
    section.best-seller .product-slider .product .product-info .price {
        font-size: 16px;
        letter-spacing: 0.4px;
        line-height: 30px;
    }
    
    section.best-seller .product-slider .product .product-info .price .original-price {
        font-size: 9px;
        letter-spacing: 0.23px;
        line-height: 30px;
        display: block;
        line-height: 14px;
    }
    
    section.best-seller .product-slider .product .product-info button {
        height: 36px;
        width: 193px;
        font-size: 12px;
        letter-spacing: 0.3px;
        line-height: 18px;
    }

    section.best-seller .product-slider .product.new::before{
        content: "New";
        font-size: 10px;
        font-weight: 200;
        letter-spacing: 0.35px;
        padding: 6px;
        border-radius: 20px;
        margin-left: 300px;
        
    }

    section.newsletter {
        width: 100%;
        max-width: 100%;
        padding: 50px 0;
        margin: 50px auto;
    }
    
    section.newsletter h3 {
        font-size: 22px;
        letter-spacing: 0.55px;
        line-height: 42px;
    }
    
    section.newsletter p {
        font-size: 14px;
        letter-spacing: 0.35px;
        line-height: 42px;
    }

    footer .bottomnav {
        padding: 50px 0;
    }
    
    footer .bottomnav .container {
        max-width: 90%;
    }
    
    
}

/*Start of Design for Mobile */
@media screen and (max-width: 576px){
    header .logo{
        font-size: 34px;
    }
    header .logo .bluedot{
        width: 7px;
        height: 7px;
    }

    section.wallpaper img{
        width: 100%;
        height: auto;
    }

    .wallpaper-content{
        position: static;

    }
    .wallpaper-content p{
        padding-left: 50px;
        letter-spacing: 0.4px;
    }
    .wallpaper-content h1{
        letter-spacing: 1.5px;
        line-height: 50px;
        font-size: 44px;
    }
    .wallpaper-content button{
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.35px;
    }
    section.best-sellers {
        padding-top: 64px;
    }
    
    section.best-seller .product-slider .product {
        width: 92%;
        max-width: 390px;
    }

    section.best-seller .product-slider .product.new::before{
        content: "New";
        font-size: 10px;
        font-weight: 200;
        letter-spacing: 0.35px;
        padding: 6px;
        border-radius: 20px;
        margin-left: 300px;
        
    }


    section.best-seller h2 {
        font-size: 36px;
        letter-spacing: 0.6px;
        line-height: 38px;
        margin: 0 0 16px 0;
    }

    section.best-seller hr {
        border-top: 4px solid #67F11D;
        width: 40px;
    }

    section.best-seller .product-slider {
        margin-top: 42px;
    }
    
    section.best-seller .product-slider .product .product-info .categories {
        margin-bottom: 7px;
    }
    
    section.best-seller .product-slider .product .product-info .title {
        font-size: 14px;
        letter-spacing: 0.54px;
        line-height: 18px;
    }
    
    section.best-seller .product-slider .product .product-info .price {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.5px;
    }
    
    section.best-seller .product-slider .product .product-info .price .original-price {
        font-size: 11px;
        letter-spacing: 0.28px;
        line-height: 20px;
    }
    
    section.best-seller .product-slider .product .product-info button {
        height: 36px;
        width: 146px;
        font-size: 12px;
        letter-spacing: 0.3px;
        line-height: 18px;
    }
    section.newsletter form input {
        max-width: 65%;
    }
    
    section.newsletter form button {
        max-width: 35%;
    }

    footer .bottomnav .container {
        flex-direction: column;
        align-items: center;

    }

    footer .bottomnav ul {
        text-align: center;
        margin-bottom: 32px;
    }

    footer .bottomnav ul:last-of-type {
        margin-bottom: 0;
    }

   

}